@{
    ViewData["Title"] = "Tài khoản";
}

<h6>
    <a asp-controller="Home" asp-action="Index">
        Trở về Trang chủ
    </a>
</h6>

<h2>Quản lý tài khoản</h2>

<a asp-controller="Account" asp-action="Register">
    <button class="btn btn-primary">Thêm mới</button>
</a>
