@model TodoList.ViewModels.AccountRegisterVm

@{
    ViewBag.Title = "Register";
}

<h6>
    <a asp-controller="Account" asp-action="Index">
        Trở về Quản lý Tài khoản
    </a>
</h6>

<h2>Tài khoản mới</h2>

<form asp-action="Register">
    @Html.ValidationSummary(true, null, new {@class = "alert alert-danger", role = "alert"})
    
    <div class="form-group">
        <label asp-for="Username" class="control-label"></label>
        <input asp-for="Username" class="form-control"/>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" type="password" class="form-control"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password2" class="control-label"></label>
        <input asp-for="Password2" type="password" class="form-control"/>
        <span asp-validation-for="Password2" class="text-danger"></span>
    </div>
    
    <hr/>
    
    <div class="form-row">
        <div class="form-group col">
            <label asp-for="Staff.LastName" class="control-label"></label>
            <input asp-for="Staff.LastName" class="form-control"/>
            <span asp-validation-for="Staff.LastName" class="text-danger"></span>
        </div>
        <div class="form-group col">
            <label asp-for="Staff.FirstName" class="control-label"></label>
            <input asp-for="Staff.FirstName" class="form-control"/>
            <span asp-validation-for="Staff.FirstName" class="text-danger"></span>
        </div>
    </div>
    
    <input type="submit" value="Gửi" class="btn btn-primary col-1"/>
</form>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}