@{
    ViewBag.Title = "Viewing CongViec";
    Layout = "_Layout";
}

<h6>
    <a asp-controller="CongViec" asp-action="Index">
        Go back to the CongViec list 8-) 8-) 8-)
    </a>
</h6>

<h2>You are editing individual CongViec</h2>
<p>Hello there.</p>

<input type="text" value="@ViewData["CongViecID"]" >
<input type="text" value="@ViewData["CongViecName"]" >
<input type="text">
<input type="text">
<input type="text">
