@{
    ViewData["Title"] = "The CongViec List";
}

<h2>This is the CongViec list.</h2>
<table>
    <tr>
        <th>NhanVien</th>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Trang Thai</th>
        <th>Privacy</th>
    </tr>
    <tr>
        <td>wow</td>
        <td>wow</td>
        <td>wow</td>
        <td>wow</td>
        <td>wow</td>
        <td>wow</td>
    </tr>
</table>
