@page
@model TodoList.Views.CongViec.Index

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Danh sách Công việc</title>
</head>
<body>
<div>
    <p>Hello world.</p>
</div>
</body>
</html>