@using TodoList.Common.Utilities
@model TodoList.ViewModels.TodoTaskIndexVm
@using Microsoft.AspNetCore.Authorization
@using TodoList.ViewModels.Component
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Công việc";
}

<form asp-action="Create" class="row mt-2">
    <div class="col">
        <input asp-for="NewTaskName" class="form-control" placeholder="Nhập tên công việc mới..."/>
        <span asp-validation-for="NewTaskName" class="text-danger"></span>
    </div>
    <div class="col-sm-auto">
        <input type="submit" value="Tạo mới" class="btn btn-primary"/>
    </div>
</form>

<div class="row">
    <div class="tasklist col-lg-6 col-md-12 mt-3">
        <h5 class="tasklist--title">Công việc của tôi</h5>
        <ul class="mt-2">
            @foreach (var todoTask in Model.AssignedTodoTasks)
            {
                var todoTaskVm = new TodoTaskComponentVm(todoTask, Model.EditableTodoTaskIds);
                @Html.DisplayFor(model => todoTaskVm, "TodoTask")
            }
        </ul>
        <hr/>
    </div>

    <div class="tasklist col-lg-6 col-md-12 mt-3">
        <h5 class="tasklist--title">Công việc làm chung</h5>
        <ul class="mt-2">
            @foreach (var todoTask in Model.AssociatedTodoTasks)
            {
                var todoTaskVm = new TodoTaskComponentVm(todoTask, Model.EditableTodoTaskIds);
                @Html.DisplayFor(model => todoTaskVm, "TodoTask")
            }
        </ul>
        <hr/>
    </div>

    <div class="tasklist col-lg-6 col-md-12 mt-3">
        <h5 class="tasklist--title">Công việc công khai</h5>
        <ul class="mt-2">
            @foreach (var todoTask in Model.PublicTodoTasks)
            {
                var todoTaskVm = new TodoTaskComponentVm(todoTask, Model.EditableTodoTaskIds);
                @Html.DisplayFor(model => todoTaskVm, "TodoTask")
            }
        </ul>
        <hr/>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
