@using TodoList.Common.Utilities
@model TodoList.ViewModels.TodoTaskIndexVm
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Công việc";
}

<div class="row">
    <div class="tasklist col-lg-6 col-md-12 mt-3">
        <h5 class="tasklist--title">Công việc của tôi</h5>
        <form asp-action="Create" class="row mt-2">
            <div class="col">
                <input name="name" class="form-control" placeholder="Nhập tên công việc mới..."/>
            </div>
            <div class="col-sm-auto">
                <input type="submit" value="Tạo mới" class="btn btn-primary"/>
            </div>
        </form>
        <ul class="mt-2">
            @foreach (var todoTask in Model.CreatedTodoTasks)
            {
                @Html.DisplayFor(model => todoTask, "TodoTask__NoLead")
            }
        </ul>
        <hr/>
    </div>

    <div class="tasklist col-lg-6 col-md-12 mt-3">
        <h5 class="tasklist--title">Công việc đảm nhiệm</h5>
        <ul class="mt-2">
            @foreach (var todoTask in Model.AssignedTodoTasks)
            {
                @Html.DisplayFor(model => todoTask)
            }
        </ul>
        <hr/>
    </div>

    <div class="tasklist col-lg-6 col-md-12 mt-3">
        <h5 class="tasklist--title">Công việc làm chung</h5>
        <ul class="mt-2">
            @foreach (var todoTask in Model.AssociatedTodoTasks)
            {
                @Html.DisplayFor(model => todoTask)
            }
        </ul>
        <hr/>
    </div>

    <div class="tasklist col-lg-6 col-md-12 mt-3">
        <h5 class="tasklist--title">Công việc công khai</h5>
        <ul class="mt-2">
            @foreach (var todoTask in Model.PublicTodoTasks)
            {
                @Html.DisplayFor(model => todoTask, "TodoTask__NoAccess")
            }
        </ul>
        <hr/>
    </div>
</div>