@{
    ViewData["Title"] = "Catalog";
}

<div class="text-center">
    <h1 class="display-4">Catalog</h1>
    <div class="col">
        <div class="row">
            <a asp-action="Index" asp-controller="Product">Sản phẩm bán lẻ</a>
        </div>
        <div class="row">
            <a asp-action="Index" asp-controller="Combo">Combo Sản phẩm</a>
        </div>
    </div>
</div>