@{
    ViewData["Title"] = "Thống kê";
}

<h6>
    <a asp-controller="TodoTask" asp-action="Index">
        Trở về Trang chủ
    </a>
</h6>

<div class="form-group">
    <a asp-action="TaskOnStaff" class="d-flex text-decoration-none">
        <button type="button" class="btn btn-primary">Thống kê Công việc theo Nhân viên</button>
    </a>
</div>

<div class="form-group">
    <a asp-action="TaskOnStaff" class="d-flex text-decoration-none">
        <button type="button" class="btn btn-primary">Thống kê Công việc theo Trạng thái</button>
    </a>
</div>