@model ApplicationUser

        <td>@Html.DisplayFor(model => model.Staff.FullName)</td>
        <td>@Html.DisplayFor(model => model.Email)</td>
        <td>@Html.DisplayFor(model => model.Staff.Level)</td>
        <td><button type="button" class="btn btn-outline-primary">Sửa</button></td>