@using TodoList.ViewModels
@model ICollection<TodoList.ViewModels.FormResult>

@{
    var className = "alert alert-";
}

@if (Model != null)
{
    var classModifier = "";
    @foreach (var formResult in Model)
    {
        @if (formResult.Type == AlertType.INFO)
        {
            classModifier = "primary";
        }
        @if (formResult.Type == AlertType.SUCCESS)
        {
            classModifier = "success";
        }
        @if (formResult.Type == AlertType.DANGER)
        {
            classModifier = "danger";
        }

        <div class="@className@classModifier" role="alert">
            @formResult.Message
        </div>
    }
}